<a href="https://colab.research.google.com/github/zeitgeist-hash/GV918-Week04/blob/main/Week_04_Class_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

In this exercise, we will use economic growth data taken from AER package in R. https://www.rdocumentation.org/packages/AER/versions/1.2-9/topics/GrowthDJ

The purpose of this exercise is to explore the determinant of the **gdpgrowth**.

#### Variables

- **oil**: Is the country an oil-producing country?
- **inter**: Does the country have better quality data?
- **oecd**: Is the country a member of the OECD?
- **gdp60**: Per capita GDP in 1960.
- **gdp85**: Per capita GDP in 1985.
- **gdpgrowth**: Average growth rate of per capita GDP from 1960 to 1985 (in percent).
- **popgrowth**: Average growth rate of working-age population 1960 to 1985 (in percent).
- **invest**: Average ratio of investment (including Government Investment) to GDP from 1960 to 1985 (in percent).
- **school**: Average fraction of working-age population enrolled in secondary school from 1960 to 1985 (in percent).

In [1]:
url = 'https://vincentarelbundock.github.io/Rdatasets/csv/AER/GrowthDJ.csv'

In [2]:
import pandas as pd
import numpy as np

# Read the data

In [3]:
df_gdp = pd.read_csv(url)

In [4]:
df_gdp.head()

   Unnamed: 0 oil inter oecd  ...  popgrowth  invest  school  literacy60
0           1  no   yes   no  ...        2.6    24.1     4.5        10.0
1           2  no    no   no  ...        2.1     5.8     1.8         5.0
2           3  no    no   no  ...        2.4    10.8     1.8         5.0
3           4  no   yes   no  ...        3.2    28.3     2.9         NaN
4           5  no    no   no  ...        0.9    12.7     0.4         2.0

[5 rows x 11 columns]

# Data wrangling

#### Check the data dimensionality using `.shape`

In [5]:
df_gdp.shape

(121, 11)

#### How many rows with missing values?

- check the funcitonality of `.isna()` and `.dropna()`

In [6]:
df_gdp.isna()

     Unnamed: 0    oil  inter   oecd  ...  popgrowth  invest  school  literacy60
0         False  False  False  False  ...      False   False   False       False
1         False  False  False  False  ...      False   False   False       False
2         False  False  False  False  ...      False   False   False       False
3         False  False  False  False  ...      False   False   False        True
4         False  False  False  False  ...      False   False   False       False
..          ...    ...    ...    ...  ...        ...     ...     ...         ...
116       False  False  False  False  ...      False   False   False       False
117       False  False  False  False  ...       True   False   False        True
118       False  False  False  False  ...      False   False   False       False
119       False  False  False  False  ...      False   False   False       False
120       False  False  False  False  ...      False   False   False       False

[121 rows x 11 columns]

In [ ]:
df_gdp.dropna()

     Unnamed: 0 oil inter oecd  ...  popgrowth  invest  school  literacy60
0             1  no   yes   no  ...        2.6    24.1     4.5        10.0
1             2  no    no   no  ...        2.1     5.8     1.8         5.0
2             3  no    no   no  ...        2.4    10.8     1.8         5.0
4             5  no    no   no  ...        0.9    12.7     0.4         2.0
5             6  no    no   no  ...        1.7     5.1     0.4        14.0
..          ...  ..   ...  ...  ...        ...     ...     ...         ...
115         116  no   yes   no  ...        3.8    11.4     7.0        63.0
116         117  no   yes  yes  ...        2.0    31.5     9.8       100.0
118         119  no   yes   no  ...        1.9    13.9     4.1        39.0
119         120  no   yes  yes  ...        1.7    22.5    11.9        99.0
120         121  no    no   no  ...        2.1    16.2     1.5        29.0

[100 rows x 11 columns]

In [7]:
df_gdp.isna().sum()

Unnamed: 0     0
oil            0
inter          0
oecd           0
gdp60          5
gdp85         13
gdpgrowth      4
popgrowth     14
invest         0
school         3
literacy60    18
dtype: int64

#### We in the end drop the rows with missing values...

In [8]:
df_gdp.dropna(inplace=True)

# Data Subsetting

Try craeting following datasets

- OECD countries
- Countries with a literacy rate better than average

In [9]:
df_oecd = df_gdp[df_gdp["oecd"] == "yes"]
df_oecd.shape

(22, 11)

In [15]:
avg_literacy = df_gdp["literacy60"].mean()
avg_literacy

49.43

In [19]:
df_gdp[df_gdp["literacy60"] > df_gdp["literacy60"].mean()]

     Unnamed: 0 oil inter oecd  ...  popgrowth  invest  school  literacy60
20           21  no   yes   no  ...        2.2     7.1     2.6        50.0
33           34  no   yes   no  ...        2.3    21.6     3.0        57.0
46           47  no   yes   no  ...        1.7    11.4     3.5        60.0
47           48  no   yes   no  ...        3.0    19.9     7.2        70.0
51           52  no   yes   no  ...        2.8    28.5     9.5        84.0
52           53  no   yes  yes  ...        1.2    36.0    10.9        98.0
54           55  no   yes   no  ...        2.7    22.3    10.2        71.0
56           57  no   yes   no  ...        3.2    23.2     7.3        53.0
60           61  no   yes   no  ...        3.0    14.9    10.6        72.0
62           63  no   yes   no  ...        2.6    32.2     9.0        83.0
63           64  no   yes   no  ...        2.4    14.8     8.3        75.0
66           67  no   yes   no  ...        3.1    18.0     4.4        68.0
69           70  no   yes  yes  ...        0.4    23.4     8.0        99.0
70           71  no   yes  yes  ...        0.5    23.4     9.3        99.0
72           73  no   yes  yes  ...        0.6    26.6    10.7        99.0
73           74  no   yes  yes  ...        0.7    36.9    11.5        99.0
74           75  no   yes  yes  ...        1.0    26.2     8.9        99.0
75           76  no   yes  yes  ...        0.5    28.5     8.4        99.0
76           77  no   yes  yes  ...        0.7    29.3     7.9        81.0
78           79  no   yes  yes  ...        1.1    25.9    11.4        98.0
79           80  no   yes  yes  ...        0.6    24.9     7.1        91.0
82           83  no   yes  yes  ...        1.4    25.8    10.7        99.0
83           84  no   yes  yes  ...        0.7    29.1    10.0        99.0
84           85  no   yes  yes  ...        0.6    22.5     5.8        62.0
85           86  no   yes  yes  ...        1.0    17.7     8.0        87.0
86           87  no   yes  yes  ...        0.4    24.5     7.9        99.0
87           88  no   yes  yes  ...        0.8    29.7     4.8        99.0
89           90  no   yes  yes  ...        0.3    18.4     8.9        99.0
91           92  no   yes  yes  ...        2.0    23.3    10.6        99.0
92           93  no   yes   no  ...        3.5    14.7     7.0        90.0
93           94  no   yes   no  ...        2.9    17.1     5.8        65.0
98           99  no   yes   no  ...        1.6    20.6    11.2        82.0
99          100  no   yes   no  ...        3.3    19.5     6.6        65.0
100         101  no   yes   no  ...        3.3    14.5     5.8        90.0
101         102  no   yes   no  ...        3.0    26.1    11.6        73.0
102         103  no   yes   no  ...        1.9    20.4     8.8        93.0
103         104  no   yes  yes  ...        1.5    21.1    11.9        98.0
104         105  no   yes   no  ...        1.5    25.3     5.0        91.0
106         107  no   yes   no  ...        2.9    23.2     4.7        61.0
107         108  no   yes   no  ...        2.3    29.7     7.7        84.0
108         109  no   yes   no  ...        3.0    18.0     6.1        63.0
109         110  no   yes   no  ...        2.8    24.4     7.2        68.0
111         112  no   yes   no  ...        2.7    11.7     4.4        75.0
112         113  no   yes   no  ...        2.9    12.0     8.0        61.0
114         115  no   yes   no  ...        0.6    11.8     7.0        94.0
115         116  no   yes   no  ...        3.8    11.4     7.0        63.0
116         117  no   yes  yes  ...        2.0    31.5     9.8       100.0
119         120  no   yes  yes  ...        1.7    22.5    11.9        99.0

[48 rows x 11 columns]

# Data Exploration

#### Calculate the mean and standard deviation of the `gdpgrowth`

In [20]:
df_gdp["gdpgrowth"].mean()

3.9730000000000003

In [21]:
df_gdp["gdpgrowth"].std()

1.8154697196676959

#### Run `.describe()` to see the data description

In [22]:
df_gdp.describe()

       Unnamed: 0         gdp60  ...      school  literacy60
count  100.000000    100.000000  ...  100.000000  100.000000
mean    61.560000   3837.020000  ...    5.453000   49.430000
std     35.207988   8005.468973  ...    3.460147   35.102233
min      1.000000    383.000000  ...    0.400000    1.000000
25%     31.750000   1001.250000  ...    2.400000   15.000000
50%     60.500000   1945.000000  ...    4.850000   46.000000
75%     93.250000   4776.500000  ...    8.075000   84.000000
max    121.000000  77881.000000  ...   11.900000  100.000000

[8 rows x 8 columns]

#### Calculate the group averages

- For each categorical variables (`oil`, `inter`, `oecd`), calcurate the mean of `gdpgrowth`

In [23]:
df_gdp.groupby("oil").mean()

     Unnamed: 0     gdp60         gdp85  ...     invest    school  literacy60
oil                                      ...
no     61.84375   3026.75   5351.239583  ...  17.567708  5.403125   50.614583
yes    54.75000  23283.50  12429.500000  ...  14.225000  6.650000   21.000000

[2 rows x 8 columns]

In [24]:
df_gdp.groupby("inter").mean()

       Unnamed: 0        gdp60        gdp85  ...     invest    school  literacy60
inter                                        ...
no      31.346154  4350.153846  2802.730769  ...  12.323077  2.676923   14.230769
yes     72.175676  3656.729730  6629.270270  ...  19.229730  6.428378   61.797297

[2 rows x 8 columns]

In [25]:
df_gdp.groupby("oecd").mean()

      Unnamed: 0        gdp60         gdp85  ...     invest    school  literacy60
oecd                                         ...
no     55.166667  3020.743590   3519.807692  ...  15.076923  4.428205   37.217949
yes    84.227273  6731.090909  13131.454545  ...  25.790909  9.086364   92.727273

[2 rows x 8 columns]

#### Calculate the correlation between `gdpgrowth` and possible explanatory variables

In [27]:
df_gdp.iloc[:,-5:].corr()

            gdpgrowth  popgrowth    invest    school  literacy60
gdpgrowth    1.000000   0.249679  0.369635  0.280325    0.138400
popgrowth    0.249679   1.000000 -0.356105 -0.216180   -0.427336
invest       0.369635  -0.356105  1.000000  0.631852    0.635772
school       0.280325  -0.216180  0.631852  1.000000    0.812373
literacy60   0.138400  -0.427336  0.635772  0.812373    1.000000

In [28]:
df_gdp.tail(5)

     Unnamed: 0 oil inter oecd  ...  popgrowth  invest  school  literacy60
115         116  no   yes   no  ...        3.8    11.4     7.0        63.0
116         117  no   yes  yes  ...        2.0    31.5     9.8       100.0
118         119  no   yes   no  ...        1.9    13.9     4.1        39.0
119         120  no   yes  yes  ...        1.7    22.5    11.9        99.0
120         121  no    no   no  ...        2.1    16.2     1.5        29.0

[5 rows x 11 columns]

In [29]:
df_gdp.loc[:,["invest","school"]]

     invest  school
0      24.1     4.5
1       5.8     1.8
2      10.8     1.8
4      12.7     0.4
5       5.1     0.4
..      ...     ...
115    11.4     7.0
116    31.5     9.8
118    13.9     4.1
119    22.5    11.9
120    16.2     1.5

[100 rows x 2 columns]