<a href="https://colab.research.google.com/github/zeitgeist-hash/GV918-Week04/blob/main/Week_04_Class_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

In this exercise, we will continue the analysis of UK Political Data, which I presented in the lecture. We have already conducted merging Election and Brexit referendum data. We will work with additional datasets, coming from: 

https://commonslibrary.parliament.uk/constituency-dashboard/

In particular, we will use the following data:

- Population
- Unemployment
- Housing price

# Clone a data repository

As we will use the data for several weeks, I decided to create a separate repository for the data. We can clone the reposiotory to Colab working directory to start working on the data.

In [51]:
!git clone  https://github.com/University-of-Essex-Dept-of-Government/GV918-UK-politics-data

fatal: destination path 'GV918-UK-politics-data' already exists and is not an empty directory.

In [52]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Rerun the code in the lecture

In [53]:
import pandas as pd
import numpy as np

In [54]:

df_elec = pd.read_excel("/content/GV918-UK-politics-data/Data/general-election-results-2019.xlsx", sheet_name = 'voting-summary')

df_brexit = pd.read_csv("/content/GV918-UK-politics-data/Data/brexit-vote.csv")

df_brexit.rename({'PCON11CD':'ons_id'}, axis = 1, inplace=True)

"""## Select columns"""

df_brexit.rename({'Figure to use':'leave_pct'}, axis = 1, inplace=True)

df_brexit_sub = df_brexit[['ons_id', 'leave_pct']]

df_elec['con_pct'] = df_elec['con'] / df_elec['valid_votes']
df_elec['lab_pct'] = df_elec['lab'] / df_elec['valid_votes']

df_elec.head()

"""## Merge"""
# use "left" merge

df_merge = df_elec.merge(df_brexit_sub, how='left', on = "ons_id")

In [55]:
df_merge.shape

(650, 42)

# Unemployment

What we want to get from this file is the unemployment rate (or rate of unemployment claims) in November 2019, right before the election.

## Read the file

In [56]:
df_unemp = pd.read_excel('/content/GV918-UK-politics-data/Data/Unemployment.xlsx', sheet_name = "Data")

In [57]:
df_unemp.head()

  ONSConstID    ConstituencyName  ... UnempCountryRate Unnamed: 14
0  E14000554  Berwick-upon-Tweed  ...         0.036923           0
1  E14000569     Bishop Auckland  ...         0.036923           0
2  E14000574             Blaydon  ...         0.036923           0
3  E14000575        Blyth Valley  ...         0.036923           0
4  E14000641      City of Durham  ...         0.036923           0

[5 rows x 15 columns]

In [58]:
df_unemp.value_counts("DateOfDataset").sort_index()

DateOfDataset
2010-05-01    650
2010-06-01    650
2010-07-01    650
2010-08-01    650
2010-09-01    650
             ...
2020-05-01    650
2020-06-01    650
2020-07-01    650
2020-08-01    650
2020-09-01    650
Length: 135, dtype: int64

## Data wrangling and merge

- For this data, what we need to do is relatively simple
- The steps are:
  - Select the rows for the nearby month (Nov 2019)
  - Keep the columns for ID vars and unemployment rate
  - Merge with the main dataset

In [59]:
df_unemp_sub = df_unemp[df_unemp['DateOfDataset'] == '2019-11-01'][['ONSConstID', 'UnempConstRate']]
df_unemp_sub

      ONSConstID  UnempConstRate
74100  E14000554        0.023341
74101  E14000569        0.042488
74102  E14000574        0.033568
74103  E14000575        0.045496
74104  E14000641        0.021874
...          ...             ...
74745  N06000014        0.017839
74746  N06000015        0.020793
74747  N06000016        0.023917
74748  N06000017        0.021030
74749  N06000018        0.028327

[650 rows x 2 columns]

In [60]:
df_merge = df_merge.merge(df_unemp_sub, left_on = 'ons_id', right_on = 'ONSConstID')
df_merge

        ons_id ons_region_id  ... ONSConstID UnempConstRate
0    W07000049     W92000004  ...  W07000049       0.036222
1    W07000058     W92000004  ...  W07000058       0.026173
2    S14000001     S92000003  ...  S14000001       0.033311
3    S14000002     S92000003  ...  S14000002       0.019850
4    S14000003     S92000003  ...  S14000003       0.040079
..         ...           ...  ...        ...            ...
645  E14001059     E12000002  ...  E14001059       0.039245
646  E14001060     E12000009  ...  E14001060       0.021093
647  W07000041     W92000004  ...  W07000041       0.029914
648  E14001061     E12000003  ...  E14001061       0.015197
649  E14001062     E12000003  ...  E14001062       0.008313

[650 rows x 44 columns]

# Housing price dataset

We conduct essentially the same. Extract the most recent data in housing price, and merge it with the main dataframe.

## Read the file

In [61]:
df_housing = pd.read_excel("/content/GV918-UK-politics-data/Data/House-prices.xlsx", 
                           sheet_name="Constituency data table")

## Data wrangling and merge

- First let's findout the data frequency.

In [62]:
df_housing.head()

  ONSConstID    ConstituencyName  ... Unnamed: 24 Unnamed: 25
0  E14000554  Berwick-upon-Tweed  ...         NaN         NaN
1  E14000569     Bishop Auckland  ...         NaN         NaN
2  E14000574             Blaydon  ...         NaN         NaN
3  E14000575        Blyth Valley  ...         NaN         NaN
4  E14000641      City of Durham  ...         NaN         NaN

[5 rows x 26 columns]

In [63]:
df_housing.value_counts("DateOfDataset").sort_index()

DateOfDataset
1995-12-31    650
1996-03-31    650
1996-06-30    650
1996-09-30    650
1996-12-31    650
             ...
2018-12-01    650
2019-03-01    650
2019-06-01    650
2019-09-01    650
2019-12-01    650
Length: 97, dtype: int64

- Select the rows from Sep 2019
- We use the price change at the constituency level

In [64]:
df_housing_sub = df_housing[['ONSConstID', 'ConstPercentChangeOneYr']][df_housing['DateOfDataset'] == '2019-09-01']

In [65]:
df_merge = df_merge.merge(df_housing_sub, left_on="ons_id", right_on = "ONSConstID")

In [66]:
df_merge

        ons_id ons_region_id  ... ONSConstID_y ConstPercentChangeOneYr
0    W07000049     W92000004  ...    W07000049               0.0232326
1    W07000058     W92000004  ...    W07000058               0.0461538
2    S14000001     S92000003  ...    S14000001                       -
3    S14000002     S92000003  ...    S14000002                       -
4    S14000003     S92000003  ...    S14000003                       -
..         ...           ...  ...          ...                     ...
645  E14001059     E12000002  ...    E14001059               0.0857143
646  E14001060     E12000009  ...    E14001060               0.0243902
647  W07000041     W92000004  ...    W07000041              0.00014708
648  E14001061     E12000003  ...    E14001061               0.0182648
649  E14001062     E12000003  ...    E14001062               0.0215686

[650 rows x 46 columns]

## Population dataset

What we would like to extract from this dataset is the percentage of elderly (over 65). We need to do some data wrangling.

## Read the dataset

In [67]:
df_pop = pd.read_excel("/content/GV918-UK-politics-data/Data/population-by-age.xlsx", 
                       sheet_name = 'Age by year data')

In [68]:
df_pop.head()

    PCON11CD   PCON11NM   RegionID  ... Age_percent  Reg_percent  UK_percent
0  E14000538  Aylesbury  E12000008  ...    0.012744     0.010438    0.010822
1  E14000538  Aylesbury  E12000008  ...    0.013245     0.010968    0.011266
2  E14000538  Aylesbury  E12000008  ...    0.014105     0.011386    0.011637
3  E14000538  Aylesbury  E12000008  ...    0.014129     0.011892    0.012012
4  E14000538  Aylesbury  E12000008  ...    0.014272     0.012033    0.012009

[5 rows x 10 columns]

## Data wrangling

- This data has so many rows, but suppose that what we want to know is the population over the age of 65.

- We will clean the data using the following steps
  - Keep rows of year over 65
  - Aggregate the percentage of the population

In [69]:
df_pop_sub = df_pop[df_pop["Age_year"] >= 65][["PCON11CD", "Age_percent"]]

In [70]:
df_pop_sub

        PCON11CD  Age_percent
65     E14000538     0.008867
66     E14000538     0.008756
67     E14000538     0.008525
68     E14000538     0.008461
69     E14000538     0.007960
...          ...          ...
59145  N06000002     0.003367
59146  N06000002     0.002864
59147  N06000002     0.002580
59148  N06000002     0.002276
59149  N06000002     0.007958

[16900 rows x 2 columns]

In [71]:
df_pop_elderly = df_pop_sub.groupby('PCON11CD').sum().reset_index()
df_pop_elderly

      PCON11CD  Age_percent
0    E14000530     0.154641
1    E14000531     0.233292
2    E14000532     0.188479
3    E14000533     0.217803
4    E14000534     0.280287
..         ...          ...
645  W07000076     0.191141
646  W07000077     0.202629
647  W07000078     0.207622
648  W07000079     0.157591
649  W07000080     0.143527

[650 rows x 2 columns]

## Merge with the main dataset

In [72]:
df_merge = df_merge.merge(df_pop_elderly, left_on='ons_id', right_on = 'PCON11CD')

# Check correlation

- Let's check the correlation between `con_pct`, `lab_pct`, `leave_pct` and merged variables

In [73]:
df_merge.loc[:, ['con_pct', 'lab_pct','leave_pct', 'Age_percent', 'ConstPercentChangeOneYr', 'UnempConstRate']].corr()

                 con_pct   lab_pct  leave_pct  Age_percent  UnempConstRate
con_pct         1.000000 -0.411415   0.595458     0.564467       -0.414482
lab_pct        -0.411415  1.000000  -0.150890    -0.593286        0.568125
leave_pct       0.595458 -0.150890   1.000000     0.393101        0.168809
Age_percent     0.564467 -0.593286   0.393101     1.000000       -0.379418
UnempConstRate -0.414482  0.568125   0.168809    -0.379418        1.000000