<a href="https://colab.research.google.com/github/zeitgeist-hash/GV918-Week04/blob/main/Week_04_Class_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

In this exercise, we will continue the analysis of UK Political Data, which I presented in the lecture. We have already conducted merging Election and Brexit referendum data. We will work with additional datasets, coming from: 

https://commonslibrary.parliament.uk/constituency-dashboard/

In particular, we will use the following data:

- Population
- Unemployment
- Housing price

# Clone a data repository

As we will use the data for several weeks, I decided to create a separate repository for the data. We can clone the reposiotory to Colab working directory to start working on the data.

In [1]:
!git clone  https://github.com/University-of-Essex-Dept-of-Government/GV918-UK-politics-data

Cloning into 'GV918-UK-politics-data'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 12 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Rerun the code in the lecture

In [3]:
import pandas as pd
import numpy as np

In [4]:

df_elec = pd.read_excel("/content/GV918-UK-politics-data/Data/general-election-results-2019.xlsx", sheet_name = 'voting-summary')

df_brexit = pd.read_csv("/content/GV918-UK-politics-data/Data/brexit-vote.csv")

df_brexit.rename({'PCON11CD':'ons_id'}, axis = 1, inplace=True)

"""## Select columns"""

df_brexit.rename({'Figure to use':'leave_pct'}, axis = 1, inplace=True)

df_brexit_sub = df_brexit[['ons_id', 'leave_pct']]

df_elec['con_pct'] = df_elec['con'] / df_elec['valid_votes']
df_elec['lab_pct'] = df_elec['lab'] / df_elec['valid_votes']

df_elec.head()

"""## Merge"""
# use "left" merge

df_merge = df_elec.merge(df_brexit_sub, how='left', on = "ons_id")

In [5]:
df_merge.shape

(650, 42)

# Unemployment

What we want to get from this file is the unemployment rate (or rate of unemployment claims) in November 2019, right before the election.

## Read the file

In [6]:
df_unemp = pd.read_excel('/content/GV918-UK-politics-data/Data/Unemployment.xlsx', sheet_name = "Data")

In [7]:
df_unemp.head()

  ONSConstID    ConstituencyName  ... UnempCountryRate Unnamed: 14
0  E14000554  Berwick-upon-Tweed  ...         0.036923           0
1  E14000569     Bishop Auckland  ...         0.036923           0
2  E14000574             Blaydon  ...         0.036923           0
3  E14000575        Blyth Valley  ...         0.036923           0
4  E14000641      City of Durham  ...         0.036923           0

[5 rows x 15 columns]

In [11]:
df_unemp.value_counts("DateOfDataset").sort_index()

DateOfDataset
2010-05-01    650
2010-06-01    650
2010-07-01    650
2010-08-01    650
2010-09-01    650
             ...
2020-05-01    650
2020-06-01    650
2020-07-01    650
2020-08-01    650
2020-09-01    650
Length: 135, dtype: int64

## Data wrangling and merge

- For this data, what we need to do is relatively simple
- The steps are:
  - Select the rows for the nearby month (Nov 2019)
  - Keep the columns for ID vars and unemployment rate
  - Merge with the main dataset

In [12]:
df_unemp[df_unemp["DateOfDataset"] == "2019-11-01"][["ONSConstID", "UnempConstRate"]]

      ONSConstID  UnempConstRate
74100  E14000554        0.023341
74101  E14000569        0.042488
74102  E14000574        0.033568
74103  E14000575        0.045496
74104  E14000641        0.021874
...          ...             ...
74745  N06000014        0.017839
74746  N06000015        0.020793
74747  N06000016        0.023917
74748  N06000017        0.021030
74749  N06000018        0.028327

[650 rows x 2 columns]

In [18]:
df_merge = df_merge.merge(df_unemp_sub, left_on="one_id", right_on="ONSConstID")

NameError: ignored

# Housing price dataset

We conduct essentially the same. Extract the most recent data in housing price, and merge it with the main dataframe.

## Read the file

In [16]:
df_housing = pd.read_excel("/content/GV918-UK-politics-data/Data/House-prices.xlsx", 
                           sheet_name="Constituency data table")

## Data wrangling and merge

- First let's findout the data frequency.

- Select the rows from Sep 2019
- We use the price change at the constituency level

## Population dataset

What we would like to extract from this dataset is the percentage of elderly (over 65). We need to do some data wrangling.

## Read the dataset

In [23]:
df_pop = pd.read_excel("/content/GV918-UK-politics-data/Data/population-by-age.xlsx", 
                       sheet_name = 'Age by year data')

In [24]:
df_pop.head()

    PCON11CD   PCON11NM   RegionID  ... Age_percent  Reg_percent  UK_percent
0  E14000538  Aylesbury  E12000008  ...    0.012744     0.010438    0.010822
1  E14000538  Aylesbury  E12000008  ...    0.013245     0.010968    0.011266
2  E14000538  Aylesbury  E12000008  ...    0.014105     0.011386    0.011637
3  E14000538  Aylesbury  E12000008  ...    0.014129     0.011892    0.012012
4  E14000538  Aylesbury  E12000008  ...    0.014272     0.012033    0.012009

[5 rows x 10 columns]

## Data wrangling

- This data has so many rows, but suppose that what we want to know is the population over the age of 65.

- We will clean the data using the following steps
  - Keep rows of year over 65
  - Aggregate the percentage of the population

In [26]:
df_pop_sub = df_pop[df_pop["Age_year"] >= 65]

In [30]:
df_pop_sub[["PCO11CD", "Age_year", "Age_percent"]]

KeyError: ignored

## Merge with the main dataset

# Check correlation

- Let's check the correlation between `con_pct`, `lab_pct`, `leave_pct` and merged variables